  <p>
  <%= link_to "Graphs list", graphs_path %>
  </p>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Add your site or application content here-->
  <div class="row">
    <span id="fluff" ng-show="showform">

      <%# <form class="col s12 m12 l3">%>
      <%= form_for @graph, url: {action: 'update'}, html: {class: "col s12 m12 l3"} do |f| %>
        <p>name: <%= f.text_field :name %></p>
        <p>description: <%= f.text_area :description %></p>
        <div class="input-field col s12">
          <%= f.text_area :mermaid_blob, :class=> 'materialize-textarea', :style=> "font-size:12px; font-family:'Consolas','Menlo',fixed-width; height:150px", :"ng-model"=>"mermaidsyntax", :"ng-change"=>"checkUpdate()" %>
          <label>Enter mermaid diagram syntax here</label>
          <p><%= f.submit "Save" %></p>
        </div>
        <div>

          <div ng-show="showerror">
            <br/>
            <i class="tiny mdi-alert-error"> Invalid syntax</i>
            <br/>
            <br/>
          </div>
          This webapp uses the <a href="http://knsv.github.io/mermaid/index.html">mermaid</a> library to generate graphs and sequence diagrams.
          <br/> Syntax for sequence diagrams can be found <a href="http://knsv.github.io/mermaid/#sequence-diagrams">here</a>

        </div>
      <%# </form>%>
      <%- end %>
    </span>
    <div ng-class="diagclass">
      <div ng-class="cardclass">
        <div class="card-content">
          <span class="card-title grey-text" ng-show="showform">Generated diagram</span><br/>
          <span id="mermaidholder"></span>
          <span ng-show="showform">
            <a ng-href="{{viewlink}}">LINK TO VIEW</a>
            <a ng-href="{{editlink}}">LINK TO EDIT</a>
            <a ng-href="{{svglink}}" download="diagram.svg">DOWNLOAD SVG</a>
          </span>
        </div>
      </div>
    </div>
  </div>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script>
    $(function(){
      // indent when pressing tab
      $('textarea').on('keydown', function (e) {
          var keyCode = e.keyCode || e.which;

          if (keyCode === 9) {
              e.preventDefault();
              var start = this.selectionStart;
              var end = this.selectionEnd;
              var val = this.value;
              var selected = val.substring(start, end);
              var re = /^/gm;
              var count = selected.match(re).length;


              this.value = val.substring(0, start) + selected.replace(re, ' ') + val.substring(end);
              this.selectionStart = start;
              this.selectionEnd = end + count;
          }
      });
    });
  </script>
